@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@*
1). Intoduced in asp.net core 2.0
2). Razor Pages is a new feature of ASP.NET Core MVC that majes coding page-focused easier and more productive.
3). Razor Pages is not just for simple sccenarios, everything that you can do with MVC you can do by using Razor pages like Routing, ActionResult,Tag Helpers and so on.
4). 

//PIPELINE
the pipeline 

Routing in Razor Pages
1). Routing in Asp.net Razor pages maps URL's to Physical file on disk.
2). Raor pages need a root folder.
3). index.cshtml is a default document

Tag Helpers
1).Tag Helpers are introduced with ASP.NET Core.
2).Tag Helpers enable server-side code to participate in creating and rendring HTML elements in Razor files.
3).Tag Helpers are very focused around the html elements and much more natural to use.

Action Result
1).ActionResult is a result of action methods/pages or return types of action methods/pages handlers
2).Action Result is a parent class for many of the derived classes that have associated helpers.
3).The IActionResult return type is appropiate when multiple ActionResult return types are possible ina n action.
4).
*@
<div class="text-center">
    <h1 class="display-4">Welcome SSSkjksadbkjah</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
